body{
    margin-top: 7px;
	font-family: 宋体, sans-serif;
	font-size: 12px;
}
#header{
	align-content: center;
	font-family: 宋体, sans-serif;
	font-size: 12px;
}
#content{
	align-content: center;
}
#foot{
	align-content: center;
}
#text{
	font-family: 宋体, sans-serif;
	font-size: 12px;
}
#text_color{
	font-family: 宋体, sans-serif;
	font-size: 12px;
	color: white;
}
#content a{
	text-decoration: none;
	text-decoration-color: blue;
}
.fontcolor_blue{
color:blue;
font-size:12px;
}
